html{
	margin: 0;
	padding: 0;

	font: normal 100%/1.4 Georgia,serif;
}
.masthead{
	padding: 1em;
	background: #000531 url("../img/header-background.jpg") no-repeat center center;
	background-size: cover;
}
.articleimg{
	padding: 1em;
	background: #000531 url("../img/article-background.jpg") no-repeat center center;
	background-size: cover;
}
.current{
	background-color:  #000531;
	color: #fff;
}
.nav{
	margin: 0;
	padding: 0;

	list-style-type: none;
}
.nav > li{
	display: inline-block;
}
.nav-top{
	font-size: 1.25rem;
}